.profilePicture {
    border-radius: 100px;
}
.contacts {
    padding: 20px;
}
contactsItems {
    margin-right: 20px;
}
.fullName {
    font-weight: bold;
    font-size: 20px;
}
.aboutMe {
    font-weight: bold;
}